{% extends "base.html" %}


<div class="wrapper">


    <div class="main-panel">


        {% block content %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">

                        <div class="header">
                            <h4 class="title">Request Statistics</h4>
                            <p class="category">Number of requests made by teams</p>
                        </div>
                        <div class="content">
                            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                            <div class="footer">
                                <div class="legend">
                                    <i class="fa fa-circle text-info"></i> PSE
                                    <i class="fa fa-circle text-danger"></i> PE
                                    <i class="fa fa-circle text-warning"></i> Training
                                    <i class="fa fa-circle text-warning"></i> Other
                                </div>
                                <!-- <hr> -->
                                <!-- <div class="stats">
                                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                    </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                     <!-- Top Products -->
            <div class="card">
                    <div class="header">
                        <h4 class="title">Top Products by Request</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
    
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
    
                                    <th>
                                        Quantity
                                    </th>
    
                                </tr>
                            </thead>
    
                            <tbody>
                                {% for item in top_products%}
                                <tr>
                                    <th>{{item[0]}}</th>
                                    <th>{{item[1]}}</th>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                    
                </div>
            </div>

            <div class="col-md-8">
                    <div class="card">
                    <div class="header">
                        <h4 class="title">Pending Requests</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
    
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
    
                                    <th>
                                        Quantity
                                    </th>

                                    <th>
                                        Team
                                    </th>

                                    <th>
                                        Date
                                    </th>
    
                                </tr>
                            </thead>
    
                            <tbody>
                                {% for request in pending_requests%}
                                <tr>
                                    <th>{{request.master_product.name}}</th>
                                    <th>{{request.quantity}}</th>
                                    <th>{{request.team}}</th>
                                    <th>{{request.date}}</th>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                    <div class="card">
                    <div class="header">
                        <h4 class="title">Purchase Orders in production</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover table-striped">
    
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
    
                                    <th>
                                        Quantity
                                    </th>

                                    <th>
                                        Team
                                    </th>

                                    <th>
                                        Date
                                    </th>
    
                                </tr>
                            </thead>
    
                            <tbody>
                                {% for order in purchase_order%}
                                <tr>
                                    <th>{{order.master_product.name}}-{{order.master_product.language}}</th>
                                    <th>{{order.quantity}}</th>
                                    <th>{{order.team}}</th>
                                    <th>{{order.date}}</th>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            

        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                demo.initChartist('{{requestdata |tojson }}');

                // $.notify({
                // 	icon: 'pe-7s-gift',
                // 	message: "Welcome to <b>Light Bootstrap Dashboard</b> - a beautiful freebie for every web developer."

                // },{
                //     type: 'info',
                //     timer: 4000
                // });

            });
        </script>
        {% endblock %}


    </div>
</div>