{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3">
    
        <div class="card" style="padding:24px">
            <div class="card-header">
                <h2>Add Product</h2>
            </div>
            <div class="card-body">
                <form action="/products" method="POST" enctype=multipart/form-data>
                    <div class="form-group">
                        <label for="name">Product Name</label>
                        
                        <input type="text" name="name" class="form-control">
                        <!-- <select name="name" id="name" class="form-control">
               
                             <option value="caregiversbooklet">Caregivers Booklet</option>
                            <option value="mysafetybodybook">My Safety Body Book</option>
                            <option value="personalsafetybook">My Personal Safety Book</option>
                            <option value="faqbook">FAQ Book</option>
                            <option value="handlingdisclosure">Handling Disclosure</option>
                            <option value="memanual">M&E Manual</option>
                            <option value="rescueandremadybook">Rescue and Remedy Book</option>
                            <option value="tshirt">Arpan T-Shirts</option>
                            <option value="mug">Arpan Mug</option>
                            <option value="keychain">Arpan Keychains</option>
                            <option value="sticker">Stickers</option>
                            <option value="letterhead">Letterhead</option>
                            <option value="smallenvelope">Envelope(Small)</option>
                            <option value="bigenvelope">Envelope Big(A4 Size)</option>
                            <option value="touchingsheet">Touching Sheet</option>
                            <option value="parentingdigital">Parenting Poster Digital</option>
                            <option value="childrendigital">Children Poster Digital</option>
                            <option value="dvd">Arpan DVD</option>
                            <option value="newbrochureenglish">New Brochure English</option>
                            <option value="psemodule">PSE Module</option>
                            <option value="pbpcharts">PBP Charts</option>
                            <option value="emoticons">Emoticans</option>
                            <option value="greceiptbook">80G Receipt Book</option>
                            <option value="voucherbook">Voucher Book</option>
                            <option value="worksheet">Worksheet</option>
                            <option value="flyer">Flyers</option>
                            <option value="flashcards">Flashcards</option>
                            
                        </select> -->
                    </div>
                    
                    <div class="form-group">
                        <label for="mrp">MRP</label>
                        <input type="number" name="mrp" class="form-control">
                    
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control">
                
                    </div>

                    <div class="form-group">
                        <label for="name">Version</label>
                        <select name="version" id="version" class="form-control">
                            <option value="1">Version 1</option>
                            <option value="2">Version 2</option>
                            <option value="3">Version 3</option>
                            

                        </select>

                    </div>

                    <div class="form-group">
                            <label for="vendor">Vendor</label>
                            <select name="vendor" id="vendor" class="form-control">
                                   {% for vendor in vendors%}
                                   <option value="{{vendor.id}}">{{vendor.name}}</option>
                                   {%endfor%}
                            </select>
                       </div>

                    <div class="form-group">
                        <label for="type"> Product Type</label>
                        <select name="type" id="type" class="form-control">
                            <option value="trainingkitbig">Box Training Kit</option>
                            <option value="folderkit">Folder Training Kit</option>
                            <option value="product">Product</option>
                        </select>

                        
                    </div>

                    <div class="form-group">
                        <label for="language">Language</label>
                        <select name="language" id="language" class="form-control">
                            <option value="english">English</option>
                            <option value="hindi">Hindi</option>
                            <option value="marathi">Marathi</option>
                            <option value="urdu">Urdu</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="threshold">Initial Threshold</label>
                        <input type="number" name="threshold" value="50" class="form-control">

                    </div>

                    <input type="file" name="file_url" class="form-control"> 
                   
                   
                
                    <input type="submit" value="Add" class="btn btn-fill btn-danger"> 
                
                    
                
                    
                
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="card" style="padding:24px">
            <div class="card-header">
                <h4>Products</h4>
            </div>

            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                Product Name
                            </th>

                            <th>
                                MRP(INR)
                            </th>

                            <th>
                                Description
                            </th>
                            <th>
                                Version
                            </th>
                            <th>
                                Vendor
                            </th>
                            
                            <th>
                                Product Type
                            </th>
                            <th>
                                Date Added
                            </th>
                            <th>
                                Initial Threshold
                            </th>

                        </tr>
                    </thead>
                    
                    <tbody>
                            {% for product in products%}
                            <tr>
                                <th>{{product.name}}- {{product.language}}</th>
                                <th>{{product.mrp}}</th>
                                <th>{{product.description}}</th>
                                <th>{{product.version}}</th>
                                <th>{{product.master_vendor.name}}</th>
                                <th>{{product.type}}</th>
                                <th>{{product.dateadded.split(" ")[0]}}</th>
                                <th>{{product.threshold}}</th>
                                <th><a href="/product_edit_{{product.id}}" onclick="return confirm('Would you like to edit this order?')">Edit</a></th>
                                <th><a href="/delete-product/{{product.id}}" onclick="return confirm('Would you like to delete this product?')">Delete</a></th>

                            </tr>
                            {%endfor%}
                    </tbody>
                </table>
            </div>
            
            
        
        </div>
    </div>
    
</div>

{% endblock %}


