{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-3">
    
        <div class="card" style="padding:24px">
            <div class="card-header">
                <h4>Purchase Order</h4>
            </div>
            <div class="card-body">
                <form action="/purchase-orders" method="POST">
                    <div class="form-group">
                        <label for="name">Existing Product</label>
                        
                        <select name="product" id="product" class="form-control">
                                {%for product in products %}
                                <option value="{{product.id}}">{{product.name}}-{{product.language}}</option>
                                {%endfor%}
                            </select>



                    </div>


                    <div class="form-group">
                            <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" class="form-control">
                        
                        </div>

                        <div class="form-group">
                            <label for="price">Price(INR)</label>
                            <input type="number" name="price" class="form-control">
                         </div>

                         <div class="form-group">
                                <label for="vendor">Vendor</label>
                                <select name="vendor" id="vendor" class="form-control">
                                       {% for vendor in vendors%}
                                       <option value="{{vendor.id}}">{{vendor.name}}</option>
                                       {%endfor%}
                                </select>
                           </div>
                        
                         <div class="form-group">
                             <label for="remarks">Remarks</label>
                            <input type="text" name="remarks" class="form-control">
                        

                         </div>

                         

                        <div class="form-group">
                            <label for="date_added">Date Placed</label>
                            <input type="date" name="date_added" class="form-control">
                    

                        </div>

                        <div class="form-group">
                            <label for="status">Status</label>
                            <select name="status" class="form-control">
                                <option value="accepted">Accepted</option>
                                <option value="declined">Declined</option>
                                <option value="inproduction">In Production</option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="ordernumber">Order Number</label>
                            <input type="text" name="ordernumber" class="form-control">

                        </div>

                         
                      

                         <input type="submit" value="Add" class="btn btn-fill btn-danger"> 

                    </div>
                    
                   
                

                   
                    
                
                    
                
                </form>
            </div>
        </div>
    
    

    <div class="col-md-8">
        <div class="card" style="padding:24px">
                <div >
                        <div class="card-header">
                            <h4>Orders list</h4>
                        </div>
            
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Existing Product
                                        </th>
            
                                        <th>
                                            Version
                                        </th>
            
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>

                                        <th>
                                            Vendor
                                        </th>

                                        <th>
                                            Remarks
                                        </th>

                                        <th>
                                            Date Placed
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Order Number
                                        </th>
                                       
            
                                    </tr>
                                </thead>
                                
                                <tbody>
                                        {% for order in stock%}
                                        <tr>
                                            <th>{{order.master_product.name}} - {{order.master_product.language}}</th>
                                            <th>{{order.version}}</th>
                                            <th>{{order.quantity}}</th>
                                            <th>{{order.price}}</th>
                                            <th>{{order.master_vendor.name}}</th>
                                            <th>{{order.remark}}</th>
                                            <th>{{order.date_added}}</th>
                                            <th>{{order.status}}</th>
                                            <th>{{order.order_number}}</th>
                                            <th><a href="/delete-purchase-order/{{order.id}}" onclick="return confirm('Are you sure you want to delete?')">Delete</a></th>
                                            <th><a href="/purchase-order_edit{{order.id}}" onclick="return confirm('Would you like to edit this order?')">Edit</a></th>

                                        </tr>
                                        {%endfor%}
                                </tbody>
                            </table>
                        </div>
                        
                        
                    
                    </div>
                </div>
        </div>

        <div class="col-md-8">
                <div class="card" style="padding:24px">
                    <div class="card-header">
                        <h4>Quarterly Product Requests</h4>
                    </div>
        
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
        
                            <thead>
                                <tr>
                                    <th>
                                        Product
                                    </th>
        
                                    <th>
                                        Quantity
                                    </th>
        
                                    <th>
                                        Team
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        For quarter
                                    </th>
        <!--                          
                                    <th>
                                        Delete?
                                    </th> -->
        
        
                                </tr>
                            </thead>
        
                            <tbody>
                                {% for data,quantity,team in product_data%}
                                <tr>
                                    <th>{{data}}</th>
                                    <th>{{quantity}}</th>
                                    <th>{{team}}</th>
                                    <th>{{request.date}}</th>
                                    <th>{{request.quarter}} - {{request.year}}</th>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
        
        
        
                </div>
            </div>
    </div>
    
</div> -->
{% endblock %}