
{% extends "base.html" %}

{% block content %}
<div class="row">
        
    <div class="col-md-4">
            <h3>Reset Password for {{user.email}}</h3>
        <div class="card" style="padding:24px">
            <div class="card-header">
                <h4>Reset Password</h4>
            </div>
            <div class="card-body">
                <form action="/reset-password_{{user.id}}" method="POST">
                    <label for="name">New Password</label>
                    <input type="text", name="new_password", id="Password", class="form-control">
                

                  
                  <br>
                  <input type="submit", value="Save", class="btn btn-fill btn-danger">

            </form>
        </div>
        </div>
    </div>
</div>


{% endblock %}